* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.user {
    position: relative;
    right: 69px;
}
label {
    position: relative;
    right: 45px;
}

.custom-shape-divider-bottom-1717508813 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717508813 svg {
    position: relative;
    display: block;
    width: calc(283% + 1.3px);
    height: 280px;
}

.custom-shape-divider-bottom-1717508813 .shape-fill {
    fill: #D16E6E;
}
